.app{
  background-color: #111;
}

/* width */

::-webkit-scrollbar{
  margin-top: 10px;
  width: 7px;
  height: 6px;
}

/* Track */
::-webkit-scrollbar-thumb{
  background: #b30000;
  border-radius: 10px;

}

::-webkit-scrollbar-thumb{
  background: #b30000;
}